---
omniture_pageName: Subway Kids Home
omniture_channel: Home
---

<div class="home main-content">
    <div class="box corner-round">
        <div class="top-content clearfix">		
            <a href="#" onclick="trackButtonClick('Split Page', 'StarWars_Split_Page:Button_Kids_Page', './kids/index.html');return false;" class="btn btn-kids" title="KIDS Games and other cool stuff!">
                <span>Games <br/>and other cool <br/>stuff!</span>
            </a>
            <a href="#" onclick="trackButtonClick('Split Page', 'StarWars_Split_Page:Button_GrownUps_Page', './grownups/index.html');return false;" class="btn btn-grown-ups" title="GROWN UPS Better-for-you meals your kids will love!">
                <span>Better-for-you<br/>meals your <br/>kids will love!</span>
            </a>
        </div>
        <div class="bottom-content">
            <div class="heading">
				<span class="yellow">GET ZOOTOPIA</span><span class="yellow">&nbsp;WALL DECAL SETS!</span>
				<span>ONE SET FREE IN EVERY KIDS MEAL!</span>
			</div>
             <div class="disclosure">
                <!--*Limited time only at participating restaurants, while supplies last.-->
            </div>
        </div>
    </div>
    <%= partial "layouts/footer" %>
</div>
