
<div class="promo-fresh-fit-menu clearfix">

	<div class="groups">

	<div class="group">
	<img src="/content/img/layout/grownups/promo/fresh_fit_menu_page_promo.jpg" alt="" />	
	</div>
	
	<div class="group">

			<h3>SUBWAY FRESH FIT FOR KIDS<sup>&reg;</sup> Meals</h3>
			
			<p>
			When it comes to eating well, we think that the right choice should also be a delicious one. Each meal comes with a Fit mini sub, fresh apple slices and a low-fat milk!
			</p>
			
			<p>
			<a href="http://edirect.subway.com/SubwayKids_Order_Menu" target="_blank" class="cta">Order Online Now<span class="pointer">&nbsp;&#9658;</span></a>
			</p>


		</div>
	
	</div>
	
</div>	