<div class="grownups-footer">
			
			<ul>
				<li><a href="http://edirect.subway.com/SubwayKids_SignUp_Footer">Sign up for news &amp; offers</a></li>
				<li><a href="http://www.subway.com">Subway.com</a></li>
				<li><a href="http://www.facebook.com/subway">Become a fan on Facebook</a></li>
				<li><a href="http://www.twitter.com/subway">Follow us on Twitter</a></li>
			</ul>

		</div>