
				<div class="slideshow">
				
				
				<div class="carousel"> <!-- BEGIN CAROUSEL -->
    
    <div class="slides"> <!-- BEGIN SLIDES -->
    
        <div> <!-- SLIDE ITEM -->
            <img src="/content/img/layout/grownups/promo/slide-1.jpg" alt="" />            
        </div>
        
        <div> <!-- SLIDE ITEM -->
            <img src="/content/img/layout/grownups/promo/slide-2.jpg" alt="" />           
        </div>
        
        <div> <!-- SLIDE ITEM -->
           <img src="/content/img/layout/grownups/promo/slide-3.jpg" alt="" />           
        </div>
        
        <div> <!-- SLIDE ITEM -->
            <img src="/content/img/layout/grownups/promo/slide-4.jpg" alt="" />           
        </div>
        
        <div> <!-- SLIDE ITEM -->
           <img src="/content/img/layout/grownups/promo/slide-5.jpg" alt="" />           
        </div>
        
        <div> <!-- SLIDE ITEM -->
            <img src="/content/img/layout/grownups/promo/slide-6.jpg" alt="" />           
        </div>
                               
    </div> <!-- END SLIDES -->
       
</div> <!-- END CAROUSEL -->
				
								  
					
								
								
								
								
								
					</div>
					
			
			
					