
<div class="secondary-promo-fresh-fit-menu clearfix">

	<div class="groups clearfix">
	
	<div class="group">

			
			<h4>Get a Disney Zootopia decal set FREE in every Kids Meal! </h4>
			
			<p>
			<a href="/grownups/promotions.html" class="cta">See All 6 Decal Sets!<span class="pointer">&nbsp;&#9658;</span></a>
			</p>


		</div>
		
	<div class="group">
			<img src="/content/img/layout/grownups/promo/fresh_fit_menu_page_secondary_promo.jpg" alt="" />	
	</div>
	
	</div>
	
			<p>
			<a href="/grownups/promotions.html" class="cta">See All 6 Decal Sets!<span class="pointer">&nbsp;&#9658;</span></a>
			</p>

	
</div>	