<div class="promo clearfix">
			
		<div class="groups clearfix">
			
			<div class="group">
							<img src="/content/img/layout/grownups/promo/promo_small_bg.jpg" alt="" />	
							
							<h2>Hungry For fun?</h2>
							
							<p>
								Get your paws on 6 exclusive Zootopia decal sets, only at SUBWAY<sup>&reg;</sup>! <strong class="strong-promo">Get 1 FREE</strong> with every Kids Meal!
							</p>
							<p>
							<a href="/grownups/promotions.html" class="cta">Check Them Out<span class="pointer">&nbsp;&#9658;</span></a>
							</p>
			</div>
	
		
		</div>

</div>