<div class="good-food clearfix">

		<h2>Good Food.<br>Smart Choices.</h2>
			
			<div class="groups">
			
				<div class="groups clearfix">
				
						<div class="group clearfix"> 
						
							<img src="/content/img/layout/grownups/aha-logo.png" alt="" />
						
						</div>
						
						<div class="group"> 
							
							<p>
								We’re the first fast food restaurant with meals certified by the American Heart Association. Look for the Heart-Check logo next to items on our menu that meet the AHA’s strict health standards.
							</p>
							
							<p>
								<a href="http://www.subway.com/subwayroot/about_us/Social_Responsibility/NutritionalLeadership.aspx#AHAHeartCheck" target="_blank" class="cta">Learn More<span class="pointer">&nbsp;&#9658;</span></a>
							</p> 	
						</div>
					
					</div>
						
						
						
						
						
				<div class="groups clearfix">
						
						<div class="group clearfix">
						
							<img src="/content/img/layout/grownups/pha-logo.png" alt="" />
						
						</div>
						
						<div class="group">
							
							<p>
								We're the first and only fast food restaurant recognized by The Partnership for a Healthier America for our kids’ meals, which encourage children to pile all their favorite veggies on their subs.
							</p>
							
							<p>
								<a href="http://ahealthieramerica.org/" target="_blank" class="cta">Learn More<span class="pointer">&nbsp;&#9658;</span></a>
							</p>
						</div>
					</div>
			</div>

		</div>