<div class="index-link clearfix">
			
			<a href="/grownups/index.html"></a>

</div>
<div class="grownups-back-to-sk clearfix">
			
			<a href="/"><img src="/content/img/layout/grownups/back-to-sk_icon.png" alt="" /></a>

</div>
<div class="grownups-nav clearfix">
			
			<ul class="clearfix">
				<li class="menu-1"><a href="/grownups/freshfit/">Fresh Fit Menu</a></li>
				<li class="menu-2"><a href="/grownups/promotions.html">Promotions</a></li>
				<li class="menu-3"><a href="/grownups/fit-for-life.html">Fit For Life</a></li>
				<li><a href="http://edirect.subway.com/SubwayKids_Locator" class="off-site" target="_blank">Find a Subway<sup>&reg;</sup></a></li>
				<li><a href="http://edirect.subway.com/SubwayKids_Order_TopNav" class="off-site" target="_blank">Order Online</a></li>
				
			</ul>

		</div>
		
<div class="grownups-menu-icon">
	<a href="#" id="menu-trigger"><img src="/content/img/layout/grownups/menu_icon.png" alt="" /></a>	
</div>		

<div class="grownups-nav-mobile clearfix" id="grownups-nav-mobile">
	
			<ul>
				<li><a href="/grownups/freshfit/">Fresh Fit Menu<span class="pointer">&nbsp;&#8594;</span></a></li>
				<li><a href="/grownups/promotions.html">Promotions<span class="pointer">&nbsp;&#8594;</span></a></li>
				<li><a href="/grownups/fit-for-life.html">Fit For Life<span class="pointer">&nbsp;&#8594;</span></a></li>
				<li><a href="http://edirect.subway.com/SubwayKids_Locator" target="_blank">Find a Subway<sup>&reg;</sup><span class="pointer">&nbsp;&#8594;</span></a></li>
				<li><a href="http://edirect.subway.com/SubwayKids_Order_TopNav" target="_blank">Order Online<span class="pointer">&nbsp;&#8594;</span></a></li>
				<li><a id="submenu-trigger">Stay Updated<span class="toggle-icon"><i class="fa fa-plus"></i></span></a>
					<ul class="grownups-submenu" id="grownups-submenu">
							<li><a href="http://www.subway.com/subwayroot/freshbuzz/getnewsandoffer.aspx">Sign Up for News and Offers<span class="pointer">&nbsp;&#8594;</span></a></li>
							<li><a href="http://www.facebook.com/subway" target="_blank">Become a Fan on Facebook<span class="pointer">&nbsp;&#8594;</span></a></li>
							<li><a href="http://twitter.com/subway" target="_blank">Follow Us on Twitter<span class="pointer">&nbsp;&#8594;</span></a></li>
							<li><a href="http://www.subway.com/">Subway.com<span class="pointer">&nbsp;&#8594;</span></a>
					</ul>
					</li>
			</ul>

		</div>	