<div class="index-secondary clearfix">
			
			<div class="groups">
			
				<div class="group">
							<img src="/content/img/layout/grownups/ff-for-kids.jpg" alt="" />
							
							<h3>Meals they’ll go wild for!</h3>
							
							<p>Let kids enjoy meals that are just as fresh as they are flavorful. These four delicious options are all under 350 calories!</p><p>
							<a class="cta" href="">See the Menu<span class="pointer">&nbsp;&#9658;</span></a>
							</p>
								
						</div>
						
		
				<div class="group">
							<img src="/content/img/layout/grownups/promo/promo-secondary.jpg" alt="" />	
							
							<h3>Games Just Fur You!</h3>
							
							<p>Solve puzzles of your favorite furry characters in this Zootopia game!</p><p>
							<a class="cta" href="">Play Now<span class="pointer">&nbsp;&#9658;</span></a>
							</p>
							
						</div>				
						
						

			</div>

		</div>