<div class="what-else clearfix">
			<h2>What else is happening?</h2>
			
			<div class="groups clearfix">
			
				<div class="group_pairs">
			
						<div class="group">
							<a href="http://subwaykids.com/kids/index.html"><img src="/content/img/layout/grownups/we-family.png" /></a>
							
							<p class="section_title">
								<a href="http://subwaykids.com/kids/index.html">SUBWAY<sup>&reg;</sup> Kids</a>
							</p>
							
							<h3><a href="http://subwaykids.com/kids/index.html">Fun for the Family!</a></h3>
							
							<p>
								Check out our kids' page for Zootopia games, exclusives and more! 
							</p> 	
						</div>
						
						<div class="group">
							<a href="parentscando.html"><img src="/content/img/layout/grownups/we-parents.png" /></a>
							
							<p class="section_title">
								<a href="parentscando.html">Healthy at Home</a>
							</p>
							
							<h3><a href="parentscando.html">What Parents Can Do</a></h3>
							
							<p>
								Learn how to incorporate healthy choices into your kids' daily lives — and make it fun! 
							</p>
						</div>
						
				</div>
				
				<div class="group_pairs">			
						
						<div class="group">
							<a href="madetoorder.html"><img src="/content/img/layout/grownups/we-madetoorder.png" /></a>
							
							<p class="section_title">
								<a href="madetoorder.html">Healthy in the Classroom</a>
							</p>
							
							<h3><a href="madetoorder.html">Made to Order </a></h3>
							
							<p>
								Teach kids how to create a balanced meal, using the basic food groups. 
							</p>
						</div>
						
						<div class="group">
							<a href="hitc.html"><img src="/content/img/layout/grownups/we-league.png" /></a>
							
							<p class="section_title">
								<a href="hitc.html">Healthy in the Community</a>
							</p>
							
							<h3><a href="hitc.html">Little League</a></h3>
							
							<p>
								SUBWAY<sup>&reg;</sup> celebrates it’s 11th year as the &ldquo;Official Restaurant of Little League<sup>&reg;</sup> Baseball and Softball.&rdquo;	
							</p>
						</div>
				</div>
			
			</div>

		</div>