<div class="what-else clearfix">
			<h2>What else is happening</h2>
			
			<div class="groups clearfix">
			
				<div class="group_pairs">
			
						<div class="group">
							<img src="/content/img/layout/grownups/we-family.png" />
							
							<p class="section_title">
								SUBWAY<sup>&reg;</sup> Kids
							</p>
							
							<h3>Fun for the Family!</h3>
							
							<p>
								Check out our kids' page for Zootopia games, exclusives and more! 
							</p> 	
						</div>
						
						<div class="group">
							<img src="/content/img/layout/grownups/we-parents.png" />	
							
							<p class="section_title">
								Healthy at Home
							</p>
							
							<h3>What Parents Can Do</h3>
							
							<p>
								Learn how to incorporate healthy choices into your kids' daily lives — and make it fun! 
							</p>
						</div>
						
				</div>
				
				<div class="group_pairs">			
						
						<div class="group">
							<img src="/content/img/layout/grownups/we-madetoorder.png" />	
							
							<p class="section_title">
								Healthy in the Classroom
							</p>
							
							<h3>Made to Order</h3>
							
							<p>
								Teach kids how to create a balanced meal, using the basic food groups. 
							</p>
						</div>
						
						<div class="group">
							<img src="/content/img/layout/grownups/we-league.png" />
							
							<p class="section_title">
								Healthy in the Community
							</p>
							
							<h3>Little League</h3>
							
							<p>
								SUBWAY<sup>&reg;</sup> celebrates it’s 11th year as the &ldquo;Official Restaurant of Little League<sup>&reg;</sup> Baseball and Softball.&rdquo;	
							</p>
						</div>
				</div>
			
			</div>

		</div>