
<!-- <% if is_app %> -->
<!-- <a href="#" onclick="window.open('http://www.subway.com/', '_system');">subway.com</a> -->
<!-- subway.com -->
<!-- <% else %> -->
<!-- <a href="http://www.subway.com/" onclick="return confirm('You are now leaving the SUBWAY KIDS(TM) website. Please click OK to continue.')">subway.com</a> -->
<!-- <% end %> -->
<!-- for full nutritional information.<br /> -->

Zootopia &copy; 2016 DISNEY. All rights reserved.<br>
SUBWAY FRESH FIT FOR KIDS® should not be considered a diet program. Calories refer to mini subs on 9-grain wheat bread prepared to standard formula. Visit subway.com for full nutritional information. Limited time only at participating restaurants, while supplied last. SUBWAY&reg; is a Registered Trademark of Subway IP Inc. &copy; 2016 Subway IP Inc. FISHER-PRICE, Little People&reg; and associated trademarks are owned by and used under lisence from Mattel, Inc. &copy; 2016 Mattel, Inc. All Right Reserved.<br>

<% if is_app %>
<a href="terms.html">Terms of Use</a>
<% else %>
<a href="http://www.subwaykids.com/Terms.aspx" target="_blank">Terms of Use</a>
<% end %>
|
<% if is_app %>
<a href="privacy.html">Privacy Policy</a>
<% else %>
<a href="http://www.subway.com/subwayroot/privacyNotice.aspx?nm=1" target="_blank" onclick="return confirm('You are now leaving the SUBWAY KIDS(TM) website. Please click OK to continue.')">Privacy Policy</a>
<% end %>